RewriteEngine On

RewriteCond %{REQUEST_URI} ^/storage/
RewriteCond %{DOCUMENT_ROOT}/../storage/%{REQUEST_URI:8} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/../storage/%{REQUEST_URI:8} -d
RewriteRule ^storage/.*$ - [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
